<!DOCTYPE html>

<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
     <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.10/angular.min.js"></script>
    <script src="/javascripts/script.js"></script>
  </head>
  <body>
    <body ng-app="flapperNews" ng-controller="MainCtrl">{{dane}}</body>
  </body>
</html>
